istio-base:
  global:
    istioNamespace: infra-network
istiod:
  global:
    istioNamespace: infra-network
  profile: ambient
cni:
  global:
    istioNamespace: infra-network
    platform: k3s
  profile: ambient
ztunnel:
  istioNamespace: infra-network
